@page
@model WebClientes.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="text-center">
    <label>Login</label>
    <input type="text"/>
    <label>Password</label>
    <input type="password" />
    <button></button>
</div>
